
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#list{
   
    /*padding-left: 80px;*/
    padding-right: 60px;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin:50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.4);
}

.container .left{
    position: relative;
    background: #003147;
    padding: 40px;
}

.container .right{
    margin: 2px;
    position: relative;
    background: #fff;
    padding: 10px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);


}

.profileText .imgBox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.profileText .imgBox img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em  ;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;

}

.contact{
    padding-top: 40px;
    margin-bottom: 20px;

}

.title{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.contact ul{
    position: relative;
    line-height: 1.4em;

}

.contact ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.f{
    font-size: 15px;
    font-weight: bold;
}

.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 10px;
    color: #03a9f4;
}

.contact ul li span{
    color: #fff;
    font-weight: 200;

}

.contact ul li span .text{
    font-size: 10px;
    line-height: 1.4em;
}

#education {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
  
#education td, #education th {
    border: 1px solid #003147;
    padding: 8px;
}
  
/*#education tr:nth-child(even){background-color: #f2f2f2;} */
  
#education tr:hover {background-color: lightblue}
  
#education th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #003147;
    color: white;
}

#project {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#project td, #project th {
    border: 1px solid grey;
    padding: 8px;
}
/* #project tr:nth-child(even){background-color: #f2f2f2;} */
  
#project tr:hover {background-color: lightblue}
  
#project th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #003147;
    color: white;
    border: 1px solid #003147;
}
.font{
    font-family: 'Times New Roman';
    font-size: 20px;
    margin: 5px ;
    list-style: none;
}
.fsize{
    font-size: 15px;
    font-weight: bold;
}
  
.sumry{
    margin: 5px;
}

.margin1{
    margin: 5px;
    list-style: none;
}

#head{
      
    background-color: #003147;
    color: white;
    margin: 0px;
}
.div1{
    /*background-color: grey; */
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;
}
.div1:hover{
    top: -10px;
}
.div1 h3{
    padding-left: 5px;
}
#div{
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}
  
 @media (max-width:800px){
      
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
        text-align: left;
    }
    #education{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}

/* After Js */


/* Collapsible Part */
.collapsible {
    background-color:#003147;
    color: white;
    cursor: pointer;
  /*-webkit-border-radius: 25;
    -moz-border-radius: 25;*/
    border-radius: 25px;
    padding: 4px 8px;
    text-align: left;
    
    display: inline-block;
    margin: 4px 2px;
    width: 100%;
    outline: none;
    font-size: 15px;
  border: 0.1px  solid black;
  opacity: 0.8;
  /*border: 1px solid lightgrey;*/
}

/*.active:hover {
background-color: #003147 ;
  border-color: #003147;

}*/

.content{
    display: none;
}



.btn1{
    color: black;
    border: 1.2px solid white;
    -webkit-border-radius: 25;
      -moz-border-radius: 25;
      border-radius: 25px;
    background-color: rgb(245, 255, 240);
    padding: 2px 6px;
      text-align: center;
    display: inline-block;
      font-size: 10px;
      margin: 4px 2px;
      cursor: pointer;
      text-decoration: none;	
    font-family: "Courier New", Courier, monospace;	
    /*float: right;*/
    opacity: 0.8;
}

.btn1:hover{
    background-color: #003147;
          color: white;
    border: 1.2px solid white;
}
/* fullscreen*/
#fs{
   /* background-color:#4CAF50;*/
    text-align: right;
  font-family: 'Faster One', cursive;
    font-size: 30px; 
    color: white;
  margin: 2px 5px 5px 0;
  border-style: groove;
  text-decoration: underline;
  border:1.5px solid white;
    text-shadow: 1px 1px 2px black, 0 0 20px #FF0000, 0 0 2px lightblue;
  -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
  -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 0.05px;
  
}
 .button{
    background-color:#003147;
    color: white;
    cursor: pointer;
    
  /*-webkit-border-radius: 25;
    -moz-border-radius: 25;*/
    border-radius: 25px;
    padding: 4px 8px;
    text-align: left;
    display: inline-block;
    margin: 4px 2px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border: 0.1px solid black;




          
}
a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
}
.button1{
    background-color: white;
    border: 0.1px solid black;
    font-weight: bold;

}


/* Feed back CSS   */


.open-button {
    background-color: #003147;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 200px;
  -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
  
}

/* Hiding pop up form(default) */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

/* Form Container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* input field focus */

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* submit button */

.form-container .btn {
    background-color: #003147;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/*  cancel button */

.form-container .cancel {
    background-color: #003147;

}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
  text-decoration : underline;
}

a:visited{
  color: #003147;
}
a:hover{
  color: #003147;
  text-shadow: 0.5px 0.5px 0px;
}